/* General reset and body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: #be1622;
    color: #fff;
    padding: 1rem;
    align-content: flex-end;
}
h2 {
    margin-left: 350px;
}
h4 {
    font-size: 30px;
    color: #f2be1a;
}
h5{
   font-size: 30px;
    color: #f2be1a; 
}

nav {
    float: right;
    align-items: flex-end;
   
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #666;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

button {
    background-color: #2a2a72;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #444;  
}
img {
    width: 300px;
}
footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    background-color: #34516c;
  }

  .section {
    width: 30%; 
    text-align: left; 
  }

  .center {
    text-align: center; 
  }

  .right {
    text-align: right; 
  }

  h6 {
    margin-bottom: 10px; 
    font-size: 1.8em;
    color: white;
  }
p{
    color: black;
}

  .p {
    margin: 5px 0; 
    font-size: 1.0em;
    color:white;
  }

  a {
    color: #0077cc; 
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scroll-top-btn:hover {
    background-color: #555;
}
.nav1 {
    text-align: center;
}
.h2{
    margin-left: 1px;
    text-align: center;
}
.products{
    margin-left: 1px;
    text-align: center;
}

